.highlight {
    color: red;
}

.underline {
    text-decoration: underline;
}

.linethrough {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.arial {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    background-color: lightblue;
    margin: 40px;
    padding: 25px;
}

p {
    margin: 0;
    padding: 0;
}

.box {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    background-color: lightblue;
    margin: 25px;
    padding: 25px;
}

.box-margin {
    border: 2px solid black;
    background-color: red;
    width: fit-content;
    height: fit-content;
}

.box-padding {
    border: 2px solid black;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}